.idea/
__pycache__/
models/
*.pyc
*~
*.db
essaydb
*.log
log/
cover/
nosetests.xml
coverage.xml
.coverage
celerybeat-schedule.*
django_cache/*
!.vc
tmpfile
celerybeat-schedule
docs/_build
nohup.out
logs/supervisor/*.log
ml_models/*
